@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: transparent; /* make it transparent */
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3); /* color of the scrollbar handle */
  border-radius: 5px; /* round corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5); /* darker color on hover */
}

@font-face {
  font-family: 'mona-sans-light';
  src: url('./assets/fonts/MonaSans-Light.otf') format('truetype');
}

@font-face {
  font-family: 'mona-sans-regular';
  src: url('./assets/fonts/MonaSans-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'mona-sans-medium';
  src: url('./assets/fonts/MonaSans-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'mona-sans-semibold';
  src: url('./assets/fonts/MonaSans-SemiBold.otf') format('truetype');
}

@font-face {
  font-family: 'mona-sans-bold';
  src: url('./assets/fonts/MonaSans-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'mona-sans-extrabold';
  src: url('./assets/fonts/MonaSans-ExtraBold.otf') format('truetype');
}


.font-mona-sans-light {
  font-family: 'mona-sans-light';
   /* font-family: "Roboto"; */
}

.font-mona-sans-regular {
  font-family: 'mona-sans-regular';
   /* font-family: "Roboto"; */
}

.font-mona-sans-medium {
  font-family: 'mona-sans-medium';
   /* font-family: "Roboto"; */
}

.font-mona-sans-semibold {
  font-family: 'mona-sans-semibold';
   /* font-family: "Roboto"; */
}

.font-mona-sans-bold {
  font-family: 'mona-sans-bold';
   /* font-family: "Roboto"; */
}

.font-mona-sans-ExtraBold {
  font-family: 'mona-sans-extrabold';
   /* font-family: "Roboto"; */
}




body{
  background-color: #010E1D;
}





.gradient-text {
  background: linear-gradient(84deg, rgba(161, 248, 208, 1) 8%, rgba(102, 175, 253, 1) 51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span {
  /* font-size: 8rem; */
  color: #ffffff;
}

.center-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #010e1d;
}

.text-9xl {
  /* font-size: 8rem; */
  text-align: center;
}



.navBg {
  /* background: rgb(68,68,68); */
  background: #131e2b;
  background: linear-gradient(96deg, rgb(29, 40, 56) 0%, rgb(17, 29, 44) 33%);
}


.navLinkHover {
  color: linear-gradient(86deg, rgba(91, 232, 255, 1) 0%, rgba(1, 99, 255, 1) 47%);
}

.navLink {

  color: white;
}

.navLink:hover {
  background: linear-gradient(86deg, rgba(91, 232, 255, 1) 0%, rgb(37, 121, 255) 47%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.btn-bg {
  background-color: #2E4751;
 
}

.border-btn {
 
  position: relative;
  background: linear-gradient(186deg, rgba(162,250,207,1) 8%, rgba(156,242,205,1) 19%, rgba(40,111,226,1) 98%);  
 /* padding: 5px 2px 6px 2px; */
 
}
.border-btn2 {
 
  position: relative;
  background: linear-gradient(186deg, rgba(162,250,207,1) 8%, rgba(156,242,205,1) 19%, rgba(40,111,226,1) 98%);  
 padding: 2px;
 
}

.btn-bg2 {
  background-color: #011F4A;
  /* border: 2px solid; */
  /* border-image: linear-gradient(35deg, rgba(162, 250, 207, 1) 0%, rgba(1, 59, 153, 1) 56%);
  border-image-slice: 1;
  border-radius: 20px; */
}


.textSpan{
  color: #A2FACF;
}

