@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'mona-sans';
    src: url('/client/public/assets/MonaSans-Bold.ttf') format('truetype');
    /* You may include additional font formats (e.g., woff, woff2) for better browser support */
  }


*{
    font-family: 'mona-sans', sans-serif;
    font-weight: 600;
    
}



.gradient-text {
  background: linear-gradient(84deg, rgba(161,248,208,1) 8%, rgba(102,175,253,1) 51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span{
  /* font-size: 8rem; */
  color: #ffffff;
}

.center-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #010e1d;
}

.text-9xl {
  /* font-size: 8rem; */
  text-align: center;
}



.navBg{
  /* background: rgb(68,68,68); */
  background: #131e2b;
  background: linear-gradient(96deg, rgb(24, 36, 53) 0%, rgba(19,30,43,1) 33%); 
}


.navLinkHover{
  color: linear-gradient(86deg, rgba(91,232,255,1) 0%, rgba(1,99,255,1) 47%);
} 
.navLink {  
  
color: white;
}

.navLink:hover{
  background: linear-gradient(86deg, rgba(91, 232, 255, 1) 0%, rgb(37, 121, 255) 47%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.btn-bg{
  background-color: #2E4751;
  /* border: 2px solid; */
  /* border-image: linear-gradient(35deg, rgba(162, 250, 207, 1) 0%, rgba(1, 59, 153, 1) 56%);
  border-image-slice: 1;
  border-radius: 20px; */
}
