.main-faq-component {
  height: auto;
}

.faq-heading-component {
  text-align: center;
  font-family: 'Mona Sans';
  font-weight: 700;
  font-size: 1.5rem;
  color: #ffffff;
  position: relative;
}

.faq-heading-component::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 5%;
  height: 3px;
  background: linear-gradient(84deg, rgba(161, 248, 208, 1) 8%, rgba(102, 175, 253, 1) 51%);
}

.inner-component-faq {
  margin-top: 3rem;
  background: linear-gradient(
    135deg,
    rgba(50, 45, 45, 0.196) 14%,
    rgba(2, 99, 255, 1) 200%
  );
  padding: 5rem 1rem; 
  display: flex;
flex-wrap: wrap;
gap: 1rem;
}

.faq {
  border: 1.2px solid #FFFFFF;
  border-radius: 5px;
  width: 100%; 
  background-color: #010E1D;
  margin-bottom: 1rem;
}

.faq-content {
  display: flex;
  align-items: center;
}

.faq-text {
  flex-grow: 1;
  padding: 1rem;
  color: #ffffff;
  font-family: 'mona-sans-regular';
  font-weight: 600;
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
  outline: none;
}

.toggle-btn svg {
  color: #ffffff;
}

.answer-text {
  padding: 1rem; 
  color: #ffffff;
  margin-top: -1rem;
  font-family: 'mona-sans-regular';
  font-weight: 400;
}


@media (max-width: 768px) {
  .inner-component-faq {
    
    flex-direction: column; 
  }
}


@media (min-width: 768px) {
  .inner-component-faq {
    padding: 5rem 15rem; 
  }

  .faq {
    width: 48%; 
  }
}
